<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <div class="upload-container">
        <div class="upload-area" id="dropZone">
            <div class="upload-icon">📁</div>
            <h2>Carica i tuoi file</h2>
            <p class="upload-text">Trascina qui i tuoi file o clicca per selezionare</p>
            <input type="file" id="file" name="file" class="file-input">
        </div>

        <div class="selected-file" id="selectedFile"></div>
        
        <div class="progress-bar" id="progressBar">
            <div class="progress" id="progress"></div>
        </div>

        <div class="message" id="message"></div>

        <div class="info-box">
            <h3>Informazioni sul caricamento</h3>
            <p>Dimensione massima: <strong>16 MB</strong></p>
            <p>Tipi di file supportati:</p>
            <div class="file-types">
                <span class="file-type">PDF</span>
                <span class="file-type">PNG</span>
                <span class="file-type">JPG</span>
                <span class="file-type">GIF</span>
                <span class="file-type">DOC</span>
                <span class="file-type">DOCX</span>
                <span class="file-type">TXT</span>
            </div>
        </div>
        <div class="uploaded-files">
            <h3>File caricati da te</h3>
            <ul class="uploaded-files-list" id="uploadedFilesList">
                {% for file in files %}
                    <li> {{file[0]}} </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="navigation-links">
        <a href="/protected" class="nav-link">
            <span class="icon">👤</span>
            <span class="text">Il mio profilo</span>
        </a>
        <a href="/doc" class="nav-link">
            <span class="icon">🗂️</span>
            <span class="text">Sezione documenti</span>
        </a>
        {% if 'Admin' in session.get('user_roles', []) %}
            <a href="/admin" class="nav-link">
                <span class="icon">👨🏼‍💼️</span>
                <span class="text">Sezione amministrazione</span>
            </a>
       {% endif %}
    </div>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>